<div id="main-parent">
  <section class="nav-players">
    <header>
      <h1 class="logo">Shot Tracker</h1>
    </header>
    <ol class="players">
      {{#each player in arrangedContent}}
        <li>
          {{#link-to 'players.show' player}}
            {{player.number}} - {{player.name}}
          {{/link-to}}
        </li>
      {{/each}}
      <li class="new-player">
        {{link-to 'New Player' 'players.new'}}
      </li>
    </ol>
  </section>

  <section class="player">
    {{outlet}}
  </section>
</div>
